// Variáveis SCSS
$primary-color: #00dc82;
$secondary-color-light: #333;
$secondary-color-dark: #f5f5f5;
$background-color-light: #fff;
$background-color-dark: #121212;
$text-color-light: #333;
$text-color-dark: #f5f5f5;
$card-bg-light: #f5f5f5;
$card-bg-dark: #1e1e1e;
$border-color-light: #eaeaea;
$border-color-dark: #333;

// Variáveis específicas de componentes
$button-vintage-bg: #E3D4B7; 